*{
    margin: 0px;
    padding: 0px;
}

html{
    box-sizing: border-box;
    font-size: 16px;
    font-family:sans-serif;
}

::before,::after{
    box-sizing: inherit;
}

body{ margin: 0;
padding: 0;}

h1,h2,h3,h4{
    font-size: 16px;
    font-weight: 400;
}

.H-hero{
    background-color: #320b5a;
    width: 100vw;
    height: 65px;
    margin: 0;
    padding-top: 5px;
    position:sticky;
    top: 0;
}

.H-hero .container-hd{
    height: inherit;
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
}

.H-hero .container-hd .logo{
    height: inherit;
    align-items: center;
    display: flex;
    cursor: pointer;
}
.container-hd .logo i{
    color: #ffff;
    font-size: 1.2rem;
}

.container-hd h2{
    margin-top:3px;
    color:whitesmoke;
    font-size:1.2rem;
    font-family: 'Times New Roman', Times, serif;
}

/*--ARRIBA SE ENCUENTRAN LOS ESTILOS DEL LOGO*/

.buscar{
    display: flex;
    align-items: center;
}

.buscar input{
    padding:4px 2px 4px 20px;
    width: 50px;
    border: 2px solid rgb(68, 7, 112);
    border-radius:15px;
    background-color: #852be098;
    background-image:url("Icon/search.png");
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    outline: none;
    transition: all .7s;
    color: rgba(255, 255, 255, 0.817);
}

input::placeholder{
    color: rgba(255, 255, 255, 0.817);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.buscar input:hover{
    width: 100px;
    border: 1px solid rgb(105, 35, 105);
    box-shadow: 0px 0px 1px 1px rgb(129, 16, 129);
}

/*--ARRIBA SE ENCUENTRAN LOS ESTILOS DEL INPUT*/



.H-hero .container-hd .iteracion{
    height: inherit;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.iteracion{
    display: flex;
    gap:2rem;
}

.iteracion nav{
    display: flex;
    gap: 0.5rem;
}

.iteracion i{
    color:rgb(199, 179, 206);
    font-size: 1.5rem;
}

nav a>i:hover{
    font-size: 2rem;
    transition: 0.3s;
}


.iteracion .p-img{
    width: 2rem;
    height: 2rem;
    padding:0px 0px 4px 0px;
}

.iteracion .p-img>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius:50%;
    box-shadow:0px 0px 2px 1px #ffff;
}
/*--ARRIBA SE ENCUENTRAN LOS ESTILOS DE LAS RUTAS  Y PERFIL*/

/*ARRIBA EMPIEZAN TODOS LOS ELEMENTOS DEL ENCABEZADO*/
/*ARRIBA EMPIEZAN TODOS LOS ELEMENTOS DEL ENCABEZADO*/



main .container-bd{
    padding-top: 1.8rem;
    padding-bottom: 1rem;
    width: 100%;
    height: 100hv;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.8rem;
}

.posts{
    width: 500px;
    height: 500px;
    box-shadow: 0px 0px 2px 1px #c285c9;
    background: rgb(241, 233, 233);
}

.hd-post{
    height: 60px;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 0px 15px;
    border-bottom: 1px solid beige;
}

.hd-post i{
    font-size: 1.5rem;
    color:rgb(199, 179, 206);
    cursor: pointer;
}

.hd-post .contain-i div{
    width: 40px;
    height: 40px;
}

.hd-post .contain-i div img{
    width: inherit;
    height: inherit;
    object-fit: cover;
    object-position: center;
}

.hd-post .contain-i h2{
    font-family:'Courier New', Courier, monospace;
    font-size:1rem;
    font-weight: 400;
}

.contain-i{
cursor: pointer;
}

.hd-post div img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.hd-post .contain-i{
    display: flex;
    gap: 10px;
    align-items:center;
}


.pst-body{
    width:inherit;
    height:350px;
}

.pst-body img{
    width:inherit;
    height:350px;
    object-fit: cover;
    object-position:center;
}

.bd-text{
    display: flex;
    align-items: center;
    gap: 5px;
    padding-bottom: 3px;
}

.bd-text h2{
    font-weight: bold;
    font-size: 15px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.bd-text p{
    font-size: 15px;
    font-family:sans-serif;
}

.pst-foot{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
    padding-left: 15px;
    padding-right: 15px;
}
.pst-foot i{
    
    cursor: pointer;
}

.i-foot{
    display: flex;
    align-items: center;
    gap:15px;
    font-size: 1.4rem;
    cursor: pointer;
}

.container-text{
    padding: 8px;
}

.container-text h2{
    font-size: 15px;
    font-weight: 600;
    color: rgb(35, 32, 32);
}

.container-text p{
    font-family:'Lucida Sans Unicode', Verdana;
    font-size: 15px;
}

.container-text span{
    font-size: 13px;
    color: rgb(165, 156, 156);
}

.F-hero{
    height: 30px;
    background: #320b5aea;
    display: flex;
    justify-content: center;
}

.F-hero div{
    height: inherit;
    display: flex;
    align-items: center;
    color: #ffff;
    font-family: 'Courier New', Courier, monospace;
}


@media screen and (max-width:414px){
    
    .buscar input{
        width: 45px;
    }

    .buscar input:hover{
        width:65px;
    }
}
